body{
    text-transform: capitalize;
}  
 
#logo{
    border-radius: 10px;
    margin-top: 20px;

 }
 #logo1{
    display: flex
 }
h2{
    color: white;
   
}
#search-bar{
    width: 380px;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
}
.search-container{
    display: flex;
    position: relative;
}
#search-img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    

}
#list{
    margin-right: -10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 60px;
    box-shadow: 0 5px 15px rgba(48, 47, 47, 0.6);
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#navbar li{
    list-style: none;
    padding: 0 23px;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size:1.3rem ;
    font-weight: 600;
    color: #fff;
    animation: 0.3s ease-in-out;
    
}
#navbar li a:hover{
    color: rgb(185, 208, 241);
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content:"";
    width:30% ;
    height: 2px;
    background-color:rgb(185, 208, 241);
    position: absolute;
    bottom: -2px;
    left: 20px;
    
}
#mobile i{
    color: #fff;
}
#mobile{
    display: none;
}
@media screen and (max-width:700px){
    nav{
        padding: 5px;
        margin-top: -10px;
    }
    h2{
        margin-top: 20px;
    }
        
    #navbar{
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 30vh;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        margin-top: -30px;

        

    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: block;
    }
    #mobile i{
        font-size: 25px;
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
      }
      #bar{
        padding-left: 10px;
        margin-top: 10px;
      }
      
      #search-bar{
        background-color: rgb(126, 125, 125);
        opacity: 30%;
        border: none;
        width: 180px;
        margin-top: 10px;
        color: rgb(255, 252, 252);
        
        
        
      }
      #search-img{
        position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 6px;
    
      }
      
      

   

}